body{
    background-color: antiquewhite;
}


h1{
    text-align: center;
}

button{
    font-size: 30px;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin: 15px;
}

.catPic{
    display: flex;
    justify-content: center;
    border: solid black;
    margin: 5px;
    max-width: 100%;
}

.header{
    margin-top: 4rem;
    text-align: center;
    font-size: 600%;
}

.hidden{
    display: none;
}

.subheader{
    text-align: center;
}


#kitty{
    display: flex;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 5px;
}

