body{
    background-color: antiquewhite;
}

h1{
    text-align: center;
}

.header{
    margin-top: 4rem;
    text-align: center;
    font-size: 600%;
}

.subheader{
    text-align: center;
}

#counter {
    text-align: center;
    font-size: 500%;
}

#kitty{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
}

